<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-0 text-center">
            <img src="imagen.jpg" style="width:300px">
            </div>
            <div class="col-lg-6 col-lg-offset-0 text-center">
                <h2 class="section-heading">Welcome to my personal website</h2>
                <hr class="light">
                <p class="text-faded">I am a Ph.D. candidate in Development Economics at <a href="https://graduateinstitute.ch/" style="color:white">The Graduate Institute-Geneva</a>. Previously, I worked for the Mexican
                government and UN development agencies. My research interests cover economic history, education, and violence.
                Passionate about data science but especially the joint field of machine learning and economics.</p>
                <a href="https://www.dropbox.com/s/xhfajob94yosix2/Sanchez_2019.pdf?dl=0" class="btn btn-default btn-xl">Read full BIO</a>
            </div>
        </div>
    </div>
</section>
