<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 text-center">
            <img src="imagen.jpg">
            </div>
            <div class="col-lg-6 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to my personal website</h2>
                <hr class="light">
                <p class="text-faded">I am a Ph.D. candidate in Development Economics at the IHEID. Previously, I worked for government and UN development
                agencies. My research interests covers economic history, education and violence. Passionate about data science and the
                joint field of machine learning and economics.</p>
                <a href="#" class="btn btn-default btn-xl">Read full BIO</a>
            </div>
        </div>
    </div>
</section>
